root = true

[*]
# indent_style = tab
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.yml]
indent_style = space
indent_size = 2

# [{/tests/pepperfish_profiler.lua,mobdebug.lua,doxyfile,/binmodules/**,/contrib/**}]
[{**/pepperfish_profiler.lua,mobdebug.lua,doxyfile,/binmodules/**,/contrib/**}]
indent_style = unset
indent_size = unset
tab_width = unset
trim_trailing_whitespace = unset
insert_final_newline = unset
